<header>
  <nav class="bg-base-100 fixed w-full z-20 top-0 start-0 border-b border-neutral-content">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <%= image_tag "BiteBunchLogo.png", class: "w-8 h-8" %>
        <span class="self-center text-base-content text-2xl font-semibold whitespace-nowrap">BiteBunch</span>
      </a>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <% if user_signed_in? %>
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-sm btn-primary" %>
        <% else %>
          <%= button_to "Sign in", new_user_session_path, method: :get, class: "btn btn-sm btn-primary"  %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
