<%= render "shared/header" %>

<div class="w-full h-screen bg-base-300 flex flex-col items-center justify-center">
  <span class="text-2xl text-base-content font-semibold whitespace-nowrap">BiteBunch Home Page</span>
</div>
